body {
    background-color: #808080;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 130px;
    margin-top: 9px;
    font-size: 30px;
    font-family: 'Times New Roman';
}

/* mengedit tulisan pada navbar*/
ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: all 1s;
}

ul li a:hover{
    color: #ff7200; 
    border-bottom: 5px solid #ff7200;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    position: absolute;
    width: 1365px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #B7B7B7;
    background: linear-gradient(to right, #00f2ff, #ffdd00)
} 
.Mobil {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 80px;
    top: 10px;
    bottom: 200px;
    border-radius: 100%;
    z-index: 15;
}
h1 {
    margin-top: 100px;
    font-size: 30px;
}
h2 {
    margin-top: 0px;
    font-size: 25px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
}

h1 {
    color: #333;
}

p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}